# Dependencias
node_modules/
npm-debug.log*

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Variables de entorno
.env
.env.local

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de respaldo
*~
*.bak